:root {
	--main-size: 50vmin;
	--main-half-size: calc(var(--main-size)/2);
	--main-color: #39c9ac;
}

html {
	overflow: hidden;
}

body {
	position: relative;
	margin: 0;
	background-color: #f8f8f8;
	font-family: "VT323";
	font-variant-caps: petite-caps;
}

h1 {
	font-size: 10rem;
	margin: 0;
}

h2 {
	font-size: 5rem;
}

p {
	font-size: 2rem;
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

#canvas-touch { 
	margin:0;
	position:relative;		
	height: 100vh;
	width: 100vw;
}

.head {
	position: absolute;
	width: 40vw;
	height: 100vh;
	top: 0;
}

.perspective {
	margin: auto;
	width: var(--main-size);
	height: var(--main-size);
	perspective: 600px;
	position: absolute;
}

.cube {
	position: relative;
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
}

.face {
	width: inherit;
	height: inherit;
	position: absolute;
	background-color: #f8f8f8;
}

.front {
	transform: translate3d(0, 0, var(--main-half-size));
}

.back {
	transform: rotateY(180deg) translate3d(0, 0, var(--main-half-size));
}

.left {
	transform: rotateY(-90deg) translate3d(0, 0, var(--main-half-size));
}

.left > img {
	height: 150%;
	width: auto;
}

.right {
	transform: rotateY(90deg) translate3d(0, 0, var(--main-half-size));
}

.bottom {
	transform: rotateX(-90deg) translate3d(0, 0, var(--main-half-size));
}

.top {
	transform: rotateX(90deg) translate3d(0, 0, var(--main-half-size));
}

.spin-y {
	transform: rotateY(90deg);
}

main {
	width: 60vw;
	height: 95vh;
	position: absolute;
	top: 0;
	left: 40vw;
}

.btn {
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 40%;
	left: 95%;
}

.btn > button {
	background-color: transparent;
	border: none;
	font-size: 3rem;
	color: #c2c2c2;
}

.btn > button:nth-of-type(2) {
	transform: rotate(180deg);
}

.slide {
	width: 90%;
	height: 100%;
	display: none;
	overflow-y: scroll;
	padding: 0 100px 0 50px;
}

.slide:nth-of-type(1) {
	display: block;
}

input[name = name] {
	border: none;
	background: var(--main-color);
	font: inherit;
	text-align: inherit;
	font-size: 2rem;
	margin-bottom: 100px;
}